.food-list-container {
  position: relative;
  top: -150px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.food-list-container ul {
  list-style: none;
  background-color: rgba(110, 206, 69, 0.8);
  border-radius: 20px;
  padding: 10px;
}

.food-list-container ul li {
  border-bottom: 1px solid yellow;
  padding-bottom: 5px;
}
